body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4; /* Light gray background */
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px 0;
}

.item-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.item-info {
    padding: 15px;
    text-align: center;
}

.item-info h3 {
    margin: 10px 0;
}

.item-info p {
    margin: 5px 0;
    color: #555;
}

.back-button {
    display: block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #2E8B57;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #276749;
}
